body{
	background: url(image.jpg);
}
header h1 a{
	color: white;
	font-size: 2em;
	text-decoration: none;
}
div .head{
	background-color: grey;
	text-align: center;
	padding: 10px;
	margin-bottom: 0px;
}
.head img{
	width: 100px;
	height: auto;
	float: left;
	margin: 0px;
}
section .navigation{
	background-color: purple;
	margin-top: 0px;
	padding-top: 10px;
	text-align: center
}
section .navigation .sf-menu li{
	display: inline;
	
}
section .navigation .sf-menu li a{
	color: white;
	font-size: 1.7em;
	padding: 0px 30px
}
section .con{
	font-size: 25px;
	color: violet;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	padding: 0px 50px;
}
.row{
	text-align: center;
	color: white
}
.row .col{
	text-align: center;
	width: 90%;
	display: inline;
}
.row .col img{
	width: 20%;
	display: inline;
	height: 400px;
}
footer{
	background-color: grey;
}
footer div div{
	margin: 10px 10px
}

/* Responsiveness using media query */
@media screen and (max-width: 320px) {
    .con h1 {
        font-size: 100%;
    }
}

@media screen and (max-width: 450px) {
    .col{
        flex: 100%;
        padding: 20px 30px;
        align-content: center;
    }
    .con h4{
        font-size:18px;
    }
    
} 